<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>


        <nav class="navbar fixed-top sticky-top navbar-expand-lg">

          <div class="container-fluid">

            <a class="navbar-brand" href="{% url 'findex'%}">Celular Amigo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

              <ul class="navbar-nav me-5">
                <li class="nav-item me-5">
                  <a class="nav-link" href="{% url 'fhistoria'%}">História</a>
                </li>

              </ul>
              <ul class="navbar-nav">
              <li class="nav-item dropdown me-5">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
                </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'exibir_celulares'%}">Celulares</a></li>
                    <li><a class="dropdown-item" href="{% url 'exibir_capas'%}">Capinhas</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'exibir_outros'%}">Acessórios</a></li>
                  </ul>
              </li>
              </ul>


              <ul class="navbar-nav me-5">
                <li class="nav-item me-5" style="display: flex; align-items: center;">
                  <a class="nav-link" href="{% url 'flogcliente'%}"><i class="fa-solid fa-user" style="color: #ffffff; padding: 7px;"></i>Entrar</a>
                </li>

              </ul>

            </div>

          </div>

        </nav>
    </header>
</body>
</html>